@import "../../../style-constants";

.chart-title {
  color: $bgBlack;
  font-size: 16px;
  font-weight: 600;
}

.chart-div {
  background-color: $bgWhite;
  padding: 20px;
  border-radius: 2px;
  border-left: solid #f596c8 2pt;
}
