@import "../../style-constants.scss";

mat-toolbar {
  color: black;
  background-color: $bgWhite;
}

.mat-menu-item {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.2s;
}

.mat-menu-item:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.2s;
}

.driver-photo {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.team-logo {
  border-radius: 2px;
  height: 35px;
  width: auto;
}

.mercedes {
  border-left: solid 2pt $mercedes2;
}
.ferrari {
  border-left: solid 2pt $ferrari2;
}
.red_bull {
  border-left: solid 2pt $red_bull2;
}
.mclaren {
  border-left: solid 2pt $mclaren2;
}
.renault {
  border-left: solid 2pt $renault2;
}
.racing_point {
  border-left: solid 2pt $racing_point2;
}
.toro_rosso {
  border-left: solid 2pt $toro_rosso2;
}
.haas {
  border-left: solid 2pt $haas2;
}
.alfa {
  border-left: solid 2pt $alfa2;
}
.williams {
  border-left: solid 2pt $williams2;
}
.mercedes:hover {
  border-left: solid 2pt $mercedes;
}
.ferrari:hover {
  border-left: solid 2pt $ferrari;
}
.red_bull:hover {
  border-left: solid 2pt $red_bull;
}
.mclaren:hover {
  border-left: solid 2pt $mclaren;
}
.renault:hover {
  border-left: solid 2pt $renault;
}
.racing_point:hover {
  border-left: solid 2pt $racing_point;
}
.toro_rosso:hover {
  border-left: solid 2pt $toro_rosso;
}
.haas:hover {
  border-left: solid 2pt $haas;
}
.alfa:hover {
  border-left: solid 2pt $alfa;
}
.williams:hover {
  border-left: solid 2pt $williams;
}
