<div fxLayout="column">

  <div class="leader-header" *ngIf="leader$ | async as leader" fxLayout="row">
    <img class="leader-logo mat-elevation-z4" [src]="'/assets/teams/' + leader.Constructor.constructorId + '.jpg'" alt="leader_logo">

    <div class="leader-info">
      <div class="leader-name">{{leader.Constructor.name}}</div>
      <div>{{leader.points}} points</div>
    </div>
  </div>

  <app-chart [dataset]="dataset" [labelset]="labelset" [colorset]="colorset" [colorset2]="colorset2" [datatype]="datatype"></app-chart>
</div>
