@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "style-constants.scss";

html, body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: $bgBlack;
  color: white;
}

body {
  margin: 0;
}

.spacer {
  flex: auto 1 1;
}

.page-header {
  font-size: 20px;
}
