.leader-logo {
  margin: 5px;
  width: 150px;
  border-radius: 3px;
}

.leader-info {
  font-size: 12px;
  font-weight: 400;
  padding: 10px;

  .leader-name {
    font-size: 18px;
    font-weight: 600;
  }
}
